@import url(https://fonts.googleapis.com/css?family=Montserrat:700|PT+Mono);
body {
  background: #F0F5F9;
  color: #52616B;
  font-family: 'PT Mono'; }

*:focus {
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: line-through; }

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

header .logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px;
  letter-spacing: 3px; }
header nav {
  width: 49.1525423729%;
  float: right;
  margin-right: 0; }
  header nav ul {
    float: right; }
  header nav li {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px; }

.hero {
  min-height: 200px;
  margin-top: 120px; }
  .hero form {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%; }
    .hero form .submits {
      display: block;
      clear: left; }
  .hero .output {
    width: 49.1525423729%;
    float: right;
    margin-right: 0; }

input[type="text"], textarea {
  padding: 8px;
  border: none;
  display: block;
  margin-top: 45px;
  resize: none;
  font-family: 'PT Mono';
  background: #F0F5F9;
  color: #52616B; }

input[type="text"] {
  font-size: 36px; }

input[type="submit"], input[type="button"] {
  background-color: #1E2022;
  color: #F0F5F9;
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  cursor: pointer;
  -webkit-transition: 0.1s background-color ease-in;
  -moz-transition: 0.1s background-color ease-in;
  transition: 0.1s background-color ease-in; }
  input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #52616B; }

textarea {
  font-size: 16px;
  width: 100%;
  height: 480px; }

.about {
  width: 600px; }
