<div class="wrapper">
	<div class="about page">
		<h1>About</h1>

	
		<p>Enigmate is an encryption tool for every day use. While not robust enough for encrypting full files, enigmate is perfect for securing every day information. Running off of <a href="https://www.npmjs.com/package/enigma.js">Enigma.js</a>, enigmate uses ASCII based keys to encrypt and decrypt values, and is conceptually based off of the WWII era <a href="https://en.wikipedia.org/wiki/Enigma_machine">Enigma Machine</a></p>


	</div>
</div>