<div class="wrapper">
	<div class="how-to page">
		<h1>How to Use</h1>

	
		<p>Enigmate is simple and easy to use for securing your every day information. Enigmate runs an enigma-esque encryption process, and as such requires a key to both encrypt and decrypt information. Simply enter any collection of ASCII characters to the 'Enter Secret Key' field, enter the information you wish to encrypt, and then hit the encrypt button. This will result in an encrypted string appearing on the right of the page. You can then copy and save this string where you like. In order to decrypt the message, simply enter the SAME secret key, and the encrypted string, and hit the decrypt button. Your decrypted message will appear on the right side of the page.</p>

		
	</div>
</div>